# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart related
/build/
/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies
/.pub-cache/
/.pub/
/doc/api/

# Android related
**/android/generated/
**/android/build/
**/android/app/build/
**/android/app/src/main/assets/flutter_assets/

# iOS related
**/ios/build/
**/ios/Flutter/App.framework
**/ios/Flutter/engine.framework
**/ios/Flutter/flutter_assets/
**/ios/Pods/
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Runner.xcworkspace

# Build artifacts
**/build/

# Web related
/web/build/
/web/.dart_tool/

# Windows related
/windows/build/

# Linux related
/linux/build/

# macOS related
/macos/build/