# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web
.dart_tool/build/
.dart_tool/web/

# Build and distribution
/build/
/ios/Flutter/App.framework
/ios/Flutter/engine
/ios/Flutter/flutter_assets/
/ios/Flutter/ephemeral/
/android/app/build/
/android/.gradle/
/android/gradle/
/android/gradlew
/android/gradlew.bat

# Windows ephemeral folder - temporal de compilación
/windows/flutter/ephemeral/

# Linux ephemeral folder
/linux/flutter/ephemeral/

# macOS ephemeral folder
/macos/Flutter/ephemeral/

# Generated code
*.g.dart
*.freezed.dart

# VS Code
.vscode/

# Ignore generating files in the native folders
/android/key.properties
/ios/Runner/GoogleService-Info.plist
*.zip
msa_nuevo_compilable_*.zip
